<!--[class.headerDark] ist gleich wie class="headerDark" aber wird so gechrieben damit wenn darkmode true ist nur dann verwendet wird-->
<header [class.headerDark]="darkmode">
    <!--*ngIf if else frage ! wenn dark mode nicht ture ist-->
    <img *ngIf="!darkmode" routerLink="/" src="assets/img/computer-white.gif">
    <img *ngIf="darkmode" routerLink="/" src="assets/img/computer-black.png">

    <div [class.darkMode]="darkmode">
        <a routerLink="/">Home</a>
        <a href="#">Curriculum</a>
        <a href="/data-protect">Data Protect</a>
        <a routerLink="/imprint">Imprint</a>
    </div>
</header>