header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba($color: #fff, $alpha: 0.3);
    img {
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;
    }
    a {
        margin: 0 20px 0 20px;
        text-decoration: none;
        color: white;
        font-weight: 500;
        transition: all 225ms ease-in-out;
        border-bottom: 3px solid transparent;
        font-size: 20px;
        font-family: 'Rubik Moonrocks', cursive;
        &:hover {
            color: rgba(255, 255, 255, 0.613);
            border-bottom: 3px solid rgba(255, 255, 255, 0.613);
        }
    }
}