<!--ist ein Angular component code sauber zu halten und wenn eine große App gibt dann kann man z.B.<app-header> uzw. hier binden.
in index wird app-component gebunden, in app-component ist app-slideshow uzw. gebunden.
neu app-component zu setllen einfach in Terminal = ng g c component-name(slideshow)-->

<!----------[darkmode] wird in einer Syntax geschrieben, damit wir es als false setzen können-->
<!----------router.url checkt if  url / ist dann darmode false wenn path oder url anders ist dann true-->
<app-header [darkmode]="router.url !== '/'"></app-header>

<!----------router.url checkt if  url / nict ist dann container class wird verwendet sonst nicht-->

<div [class.container]="router.url !== '/'">
    <router-outlet></router-outlet>
</div>